<h1>About</h1>
<p>
	Hi, This is Sudhir. I created this site to share photos of my daily life with family members and close friends,  you can learn more about me on <br><%= link_to "http://www.linkedin.com/in/sudhirsb2003", "http://www.linkedin.com/in/sudhirsb2003" %> 
</p>	


